.login-center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.card-center{
    margin: auto;
    width: 45rem;
}

.card .card-action:last-child {
    text-align: center;
}

.mydp {
    border-top: none;
    border-left: none;
}

