<div class="row login-center">
  <div class="col s12">
    <div class="card blue-grey darken-1 card-center">
      <div class="card-content white-text">
        <span class="card-title">¡Consulta si tu crédito puede ser aprobado!</span>
        <p>Ingresa los siguientes datos</p>
        <form [formGroup]="rForm">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">star</i>
              <input id="empresa" type="text" class="validate login-input"  autofocus >
              <label for="empresa" class="label-login active">Nombre Empresa</label>           
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">star</i>
              <input id="nit" type="text" class="validate login-input"  autofocus >
              <label for="nit" class="label-login active">NITEmpresa</label>           
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">star</i>
              <input id="salario" type="text" class="validate login-input"  autofocus >
              <label for="salario" class="label-login active">Salario Actual</label>           
            </div>
            <div class="input-field col s12 m6 l6">
              <my-date-picker name="fecha" [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" class="validate" formControlName="fecha" required></my-date-picker>
              <label for="fecha" class="label-login active">Fecha de nacimiento</label>
              <div class="alert" *ngIf="!rForm.controls['fecha'].value && rForm.controls['fecha'].touched">{{ titleAlert }}</div>        
            </div>
          </div>
        </form>
      </div>
      <div class="card-action">
        <button id="conectar" class="btn waves-effect waves-light login-button" >
          Consultar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>